body {
    display: flex;
    flex-direction: column;
}

.ayn {
    color: black !important;
    text-align: center;
}

.butan {
    margin-left: 0.7rem;
}

.hero {
    padding-bottom: 1.5rem;
}

.panel {
    margin: 3rem 3rem;
     box-shadow: 1px 1px 20px #888888;
}

.pad-bottom {
    margin-bottom: 5px;
}