body {
	background: Black;
	color: White;
}

div {
	margin-top: 1.5em;
}

table {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}


img {
	max-width:9em;
}

#dialogue-table input[type="text"]{
    width: 39em;
}

textarea {
	width: 60em;
	height: 30em;
}

#label {
	width: 25em;
}

#prompt {
	width: 53em;
}

button {
    margin-left: .5em;
}
